@model IEnumerable<CoreCnice.Domain.ESHOP_CATEGORIES>
@using CoreCnice.Connect;
@using CoreCnice.Domain;
@using CoreCnice.Servicer;
@using CoreCnice.UtilsCs
@{
    BulSoftCmsConnectContext _context = new BulSoftCmsConnectContext();
    clsFormat cl = new clsFormat();
    int lang = Utils.CIntDef(ViewBag.Langue);

}

@foreach (var category in Model.ToList())
{
    string LinkUrl = "";

    if (lang == 1)
    {
        if (String.IsNullOrEmpty(category.CAT_URL) == true)
        {
            LinkUrl = "/" + category.CAT_SEO_URL;
        }
        else
        {
            LinkUrl = category.CAT_URL;
        }
    }
    else
    {
        if (String.IsNullOrEmpty(category.CAT_URL) == true)
        {
            LinkUrl = "/" + category.CAT_SEO_URL_EN;
        }
        else
        {
            LinkUrl = category.CAT_URL;
        }
    }

    <section class="payment_features_two sec_pad">
        <div class="container">
            <div class="sec_title text-center mb_5 mt_2">
                @if (lang == 1)
                {
                    <h2 class="f_p f_size_30 l_height50 f_700 t_color  blod">@Html.Raw(category.CAT_NAME)</h2>
                }
                else
                {
                    <h2 class="f_p f_size_30 l_height50 f_700 t_color  blod">@Html.Raw(category.CAT_NAME_EN)</h2>
                }
            </div>
            <div class="row">
                <div class="bg_row_dt_now owl-carousel goiycss owl-theme">
                    @{
                        var listNew = (from n in _context.ESHOP_NEWS
                                       join c in _context.ESHOP_NEWS_CAT on n.NEWS_ID equals c.NEWS_ID
                                       join cat in _context.ESHOP_CATEGORIES on c.CAT_ID equals cat.CAT_ID
                                       where c.CAT_ID == category.CAT_ID
                                       orderby n.NEWS_PUBLISHDATE descending
                                       select new
                                       {
                                           n.NEWS_ID,
                                           n.NEWS_TITLE,
                                           n.NEWS_URL,
                                           n.NEWS_SEO_URL,
                                           n.NEWS_IMAGE1,
                                           n.NEWS_DESC,
                                           cat.CAT_SEO_URL,
                                           cat.CAT_NAME,
                                           n.NEWS_PUBLISHDATE,
                                           n.NEWS_CODE,
                                           n.NEWS_FIELD4,
                                           n.NEWS_TYPE,
                                           n.NEWS_HTML_EN3,
                                           n.NEWS_HTML_EN2,
                                           n.NEWS_HTML_EN1,
                                           n.NEWS_PRICE1,
                                           n.NEWS_TITLE_EN,
                                           n.NEWS_SEO_URL_EN,
                                           n.NEWS_UPDATE,
                                           cat.CAT_SEO_URL_EN
                                       }).Take(6);
                        //int countloop = 0;
                        //int counttt = listNew.ToList().Count;
                        foreach (var itemn in listNew.ToList())
                        {
                            string linkurl = "";

                            if (lang == 1)
                            {
                                if (!String.IsNullOrEmpty(itemn.NEWS_URL))
                                {
                                    linkurl = itemn.NEWS_URL;
                                }
                                else
                                {
                                    linkurl = "/" + itemn.CAT_SEO_URL + "/" + itemn.NEWS_SEO_URL.Replace("/", "");

                                }
                            }
                            else
                            {
                                if (!String.IsNullOrEmpty(itemn.NEWS_URL))
                                {
                                    linkurl = itemn.NEWS_URL;
                                }
                                else
                                {
                                    if (!String.IsNullOrEmpty(itemn.NEWS_SEO_URL_EN))
                                    {
                                        linkurl = "/" + itemn.CAT_SEO_URL_EN + "/" + itemn.NEWS_SEO_URL_EN.Replace("/", "");
                                    }
                                    else
                                    {
                                        linkurl = "/" + itemn.CAT_SEO_URL_EN + "/" + itemn.NEWS_SEO_URL_EN;
                                    }
                                }
                            }

                            string linkimg = "";
                            string linkimgNews = "";
                            if (!String.IsNullOrEmpty(itemn.NEWS_IMAGE1))
                            {
                                linkimg = "/UploadImages/Data/News/" + itemn.NEWS_ID + "/" + itemn.NEWS_IMAGE1;
                                linkimgNews = "/UploadImages/Data/News/" + itemn.NEWS_ID + "/thumb-" + itemn.NEWS_IMAGE1;
                                if (Utils.checkfileExit(linkimgNews) == true)
                                {
                                    linkimg = linkimgNews;
                                }
                            }
                            else
                            {
                                linkimg = "/images/noimg.jpg";
                            }

                            if (lang == 1)
                            {
                                <div class="item">
                                    <div class="listing-cat">
                                        <a href="@linkurl" title="@Html.Raw(itemn.NEWS_TITLE)">
                                            <div class="overlay " style=""></div>
                                            <div class="lc-background" style="background-image: url('@linkimg');"></div>
                                            <div class="lc-info">
                                                <h4 class="case27-secondary-text">@Html.Raw(itemn.NEWS_TITLE)</h4>
                                                @*<h6>No listings</h6>*@
                                            </div>
                                            <div class="lc-icon"> <i class="fa fa-building" style=""></i></div>
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <div class="listing-cat">
                                        <a href="@linkurl" title="@Html.Raw(itemn.NEWS_TITLE_EN)">
                                            <div class="overlay " style=""></div>
                                            <div class="lc-background" style="background-image: url('@linkimg');"></div>
                                            <div class="lc-info">
                                                <h4 class="case27-secondary-text">@Html.Raw(itemn.NEWS_TITLE_EN)</h4>
                                                @*<h6>No listings</h6>*@
                                            </div>
                                            <div class="lc-icon"> <i class="fa fa-building" style=""></i></div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </section>
}

