@model CoreCnice.Domain.ESHOP_GROUP

@{
    ViewData["Title"] = "Delete";
     Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ESHOP_GROUP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GROUP_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GROUP_CODE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GROUP_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GROUP_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GROUP_TYPE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GROUP_TYPE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GROUP_PUBLISHDATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GROUP_PUBLISHDATE)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GROUP_ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
