@model CoreCnice.Domain.ESHOP_CATEGORIES
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm mới danh sách";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .radio {
        float: left !important;
        margin-right: 10px !important
    }
</style>
@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data", data_ajax = "false" }))
{

    <div class="content-header clearfix">
        <h1 class="pull-left">
            Chỉnh sửa thông tin
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/Admin/Categories/List">Về danh sách</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-social btn-bitbucket btn-xs">
                <i class="fa fa-plus-square"></i>
                Lưu chỉnh sửa
            </button>
            @*<div class="pull-right">
                <a href="~/Admin/Categories/CreateCat" class="btn btn-social btn-bitbucket btn-xs"> <i class="fa fa-plus-square"></i>  THÊM MỚI</a>
            </div>*@
        </div>
    </div>

    <section class="content">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="callout callout-info">
                <h4>Thông báo</h4>
                <p>
                    @Html.Raw(ViewBag.Error)
                </p>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin chung</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mã (Icon)</label>
                            <input type="text" class="form-control" asp-for="CAT_CODE">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Chuyên mục cha</label>
                            <select asp-for="CAT_PARENT_ID" class="form-control" asp-items="@(new SelectList(ViewBag.ListCatPr,"CAT_ID","CAT_NAME"))"></select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên chuyên mục</label>
                            <input type="text" class="form-control" asp-for="CAT_NAME">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Miêu tả ngắn</label>
                            <textarea class="form-control" rows="3" id="catdesc" asp-for="CAT_DESC"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Liên kết tĩnh</label>
                            <input type="text" class="form-control" id="catlienket" asp-for="CAT_URL">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Số tin / 1 trang</label>
                            <input type="text" class="form-control" id="catlienket" asp-for="CAT_PAGEITEM">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin seo</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Seo title</label>
                            <input type="text" class="form-control" id="catseotitle" asp-for="CAT_SEO_TITLE">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Seo Url</label>
                            <input type="text" class="form-control" id="catseourl" asp-for="CAT_SEO_URL">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">SEO Keyword</label>
                            <textarea class="form-control" rows="2" id="catseokey" asp-for="CAT_SEO_KEYWORD"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">SEO Des</label>
                            <textarea class="form-control" rows="2" id="catseokey" asp-for="CAT_SEO_DESC"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Seo SEO canonical</label>
                            <input type="text" class="form-control" id="catseotitle" asp-for="CAT_SEO_TITLE_EN">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            Thông tin hiển thị
                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">Loại chuyên mục</label>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_TYPE, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                    Tin tức
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_TYPE, "1", new { id = 1, @class = "radio" })
                                    Sản phẩm
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_TYPE, "5", new { id = 5, @class = "radio" })
                                    Menu quản trị
                                </div>
                            </div>
                        </div>
                        <hr class="line" />
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">Hiển thị</label>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_STATUS, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                    Không
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_STATUS, "1", new { id = 1, @checked = "checked", @class = "radio" })
                                    Có
                                </div>
                            </div>
                        </div>
                        <hr class="line" />
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">Hiển thị trang chủ</label>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_SHOWHOME, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                    Không
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_SHOWHOME, "1", new { id = 1, @checked = "checked", @class = "radio" })
                                    Sản phẩm nổi bật
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_SHOWHOME, "2", new { id = 2, @checked = "checked", @class = "radio" })
                                    Tin tức bên trái
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_SHOWHOME, "4", new { id = 4, @checked = "checked", @class = "radio" })
                                    Lý do lựa chọn
                                </div>
                            </div>
                        </div>

                        <hr class="line" />
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">Hiển thị footer</label>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_SHOWFOOTER, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                    Không
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_SHOWFOOTER, "1", new { id = 1, @checked = "checked", @class = "radio" })
                                    Có
                                </div>
                            </div>
                        </div>

                        <hr class="line" />
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">Vị trí hiển thị</label>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_POSITION, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                    Menu top
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_POSITION, "1", new { id = 1, @checked = "checked", @class = "radio" })
                                    Menu chính
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_POSITION, "2", new { id = 2, @checked = "checked", @class = "radio" })
                                    Menu trái
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CAT_POSITION, "3", new { id = 3, @checked = "checked", @class = "radio" })
                                    Không chọn
                                </div>
                            </div>
                        </div>
                        <hr class="line" />
                        <div class="form-group form-horizontal ">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputEmail3" class="col-md-5 control-label textalginleft">Thứ tự hiển thị trang chủ</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control " id="catseotitle" asp-for="CAT_PERIOD">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail3" class="col-md-5 control-label textalginleft">Thứ tự hiển thị menu</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control " id="catseotitle" asp-for="CAT_PERIOD_ORDER">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            Miêu tả dài
                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <textarea class="textarea" asp-for="CAT_DESC_EN" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            Hình ảnh chuyên mục
                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <div class="form-group form-horizontal ">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputEmail3" class="col-md-5 control-label textalginleft">Hình hiển thị</label>
                                    <div class="col-md-7">
                                        <input type="file" asp-for="CAT_IMAGE1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail3" class="col-md-5 control-label textalginleft">Hình banner</label>
                                    <div class="col-md-7">
                                        <input type="file" asp-for="CAT_IMAGE2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(function () {
            $("#CAT_NAME").focusout(function () {
                var str = $("#CAT_NAME").val();// lấy chuỗi dữ liệu nhập vào từ form có tên title
                var str123 = $("#CAT_NAME").val();
                str = str.toLowerCase();// chuyển chuỗi sang chữ thường để xử lý
                /* tìm kiếm và thay thế tất cả các nguyên âm có dấu sang không dấu*/
                str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
                str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
                str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
                str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
                str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
                str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
                str = str.replace(/đ/g, "d");
                str = str.replace(/!|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'| |\"|\&|\#|\[|\]|~|$|_/g, "-");
                /* tìm và thay thế các kí tự đặc biệt trong chuỗi sang kí tự - */
                str = str.replace(/-+-/g, "-"); //thay thế 2- thành 1-
                str = str.replace(/^\-+|\-+$/g, "");//cắt bỏ ký tự - ở đầu và cuối chuỗi
                $("#catseourl").val(str);// xuất kết quả xữ lý ra              
            });
        });
    </script>
    @section Scripts {

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}