@model IEnumerable<CoreCnice.Domain.ESHOP_CATEGORIES>
@using CoreCnice.Connect;
@using CoreCnice.Domain;
@using CoreCnice.UtilsCs;
@*@model List<CoreCnice.Domain.ESHOP_AD_ITEM>*@
@{
    clsFormat cl = new clsFormat();
    BulSoftCmsConnectContext _context = new BulSoftCmsConnectContext();
    string Loop = "";
    string LoopEnd = "";
}
<style>
    .caption {
        min-height: 169px;
        width: 100%;
    }

    .thumbnail {
        width: 100%;
    }
</style>

@foreach (var category in Model.ToList())
{
    string LinkUrl = "";

    if (String.IsNullOrEmpty(category.CAT_URL))
    {
        LinkUrl = "/" + category.CAT_SEO_URL;
    }
    else
    {
        LinkUrl = category.CAT_URL;
    }
    <section class="listwp wow bounceInRight" data-wow-duration="2s">
        <div class="container ">
            <div class="row ">
                <div class="text-center titlemb" style="width: 100%; padding: 20px; font-size: 25px; font-weight: bold; margin-top: 30px; margin-bottom: 30px;">
                    <h2 class="display-4 font-weight-normal cltext" style="font-size: 40px;"><a href="@LinkUrl">@Html.Raw(category.CAT_NAME)</a></h2>
                </div>
            </div>
            <div class="owl-carousel owl-theme">
                @{
                    var listNew = (from n in _context.ESHOP_NEWS
                                   join c in _context.ESHOP_NEWS_CAT on n.NEWS_ID equals c.NEWS_ID
                                   join cat in _context.ESHOP_CATEGORIES on c.CAT_ID equals cat.CAT_ID
                                   where c.CAT_ID == category.CAT_ID
                                   orderby n.NEWS_PUBLISHDATE descending
                                   select new
                                   {
                                       n.NEWS_ID,
                                       n.NEWS_TITLE,
                                       n.NEWS_URL,
                                       n.NEWS_SEO_URL,
                                       n.NEWS_IMAGE1,
                                       n.NEWS_DESC,
                                       cat.CAT_SEO_URL
                                   }).Take(12);
                    //int countloop = 0;
                    //int counttt = listNew.ToList().Count;
                    foreach (var itemn in listNew.ToList())
                    {
                        string linkurl = "";

                        if (!String.IsNullOrEmpty(linkurl))
                        {
                            linkurl = itemn.NEWS_URL;
                        }
                        else
                        {
                            linkurl = "/" + itemn.CAT_SEO_URL + "/" + itemn.NEWS_SEO_URL;
                        }

                        string linkimg = "";
                        string linkimgNews = "";
                        if (!String.IsNullOrEmpty(itemn.NEWS_IMAGE1))
                        {
                            linkimg = "/UploadImages/Data/News/" + itemn.NEWS_ID + "/" + itemn.NEWS_IMAGE1;
                            linkimgNews = "/UploadImages/Data/News/" + itemn.NEWS_ID + "/thumb-" + itemn.NEWS_IMAGE1;
                            if (Utils.checkfileExit(linkimgNews) == true)
                            {
                                linkimg = linkimgNews;
                            }
                        }
                        else
                        {
                            linkimg = "/images/noimg.jpg";
                        }
                        <div class="col-12 col-md-12 px-4">
                            <div class="thumbnail" style="min-height:452px;border: 1px solid #e3e3e3;">
                                <a href="@linkurl">
                                    <img class="group list-group-image" src="@linkimg" alt="@itemn.NEWS_TITLE" asp-append-version="true"/>
                                    <div class="caption" style="border: none;">
                                        <h5 class="group inner list-group-item-heading" style="min-height:0px" >@Html.Raw(itemn.NEWS_TITLE)</h5>
                                        <p class="group inner list-group-item-text" style="min-height:88px">
                                            @Html.Raw(cl.GetProductName(itemn.NEWS_DESC, 100))
                                        </p>
                                        <div class="xemchitiet">
                                            <a href="@linkurl" style="">Xem chi tiết >>></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                }
            </div>
            <div class="btviews">
                <a href="@LinkUrl">Xem thêm</a>
            </div>           
        </div>
    </section>
}

