@model CoreCnice.Domain.ESHOP_CUSTOMER

@{
    var defaultGridPageSize = 20;
    ViewData["Title"] = "Thông tin khách hàng -" + Model.CUSTOMER_FULLNAME;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<style>
    .jstree-default-large > .jstree-container-ul > .jstree-node {
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
        float: left !important;
    }


    /*.jstree-default-large > .jstree-no-dots .jstree-node .jstree-children li {
            width: 25% !important;
            float: left !important;
        }*/

    .jstree-default .jstree-wholerow-clicked {
        background: none;
    }
</style>
<style>
    .radio {
        float: left !important;
        margin-right: 10px !important
    }
</style>
@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data", data_ajax = "false" }))
{

    <div class="content-header clearfix">
        <h1 class="pull-left">
            Cập nhật thông tin khách hàng - @Model.CUSTOMER_FULLNAME
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/Admin/AdminOrder">Về danh sách</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Lưu chỉnh sửa
            </button>
        </div>
    </div>

    <section class="content">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="callout callout-info">
                <h4>Thông báo</h4>
                <p>
                    @Html.Raw(ViewBag.Error)
                </p>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CUSTOMER_ID" value="@Model.CUSTOMER_ID" />
        <input type="hidden" asp-for="CUSTOMER_PW" value="@Model.CUSTOMER_PW" />
        <input type="hidden" asp-for="CUSTOMER_EMAIL" value="@Model.CUSTOMER_EMAIL" />
        <input type="hidden" asp-for="CUSTOMER_SHOWTYPE" value="@Model.CUSTOMER_SHOWTYPE" />
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin liên hệ</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Tên khách hàng</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_FULLNAME">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Số điện thoại</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_PHONE1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Khu vực tìm thuê</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_ADDRESS">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ngày đăng ký</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_PUBLISHDATE">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin đăng nhập</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Tài khoản</label>
                            <input type="text" class="form-control" id="catseourl" asp-for="CUSTOMER_UN">
                        </div>
                        @* <div class="form-group">
                    <label for="exampleInputPassword1">Mật khẩu</label>
                    <input type="password" class="form-control" id="catseotitle" asp-for="CUSTOMER_PW">
                    </div>*@
                        @*  <div class="form-group">
                    <label for="exampleInputPassword1">Tình trạng</label>
                    <input type="password" class="form-control" id="catseotitle" asp-for="CUSTOMER_SHOWTYPE">
                    </div>*@
                        <div class="form-group">
                            <label for="exampleInputPassword1">Ip Đăng ký</label>
                            <input type="text" class="form-control" id="catseotitle" asp-for="CUSTOMER_IP">
                        </div>
                        <div class="form-group" style="display: flex;">
                            <label for="exampleInputPassword1">Tình trạng</label>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CUSTOMER_ACTIVE, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                    Khóa
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CUSTOMER_ACTIVE, "1", new { id = 1, @class = "radio" })
                                    Sử dụng
                                </div>
                            </div>
                        </div>
                           <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">Ẩn Admin</label>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CUSTOMER_HIDEN, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                    Hiện
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.CUSTOMER_HIDEN, "1", new { id = 1, @class = "radio" })
                                  Ẩn
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Nhu cầu khách hàng</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Ngân sách khách hàng</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_NGANSACH">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Loại căn hộ quan tâm</label>
                            <select asp-for="CUSTOMER_LOAICANHO" style="height:27px;padding:0px" class="form-control" asp-items="@(new SelectList(ViewBag.OrderStatusList, "id", "value"))"></select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Thời gian thuê</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_THOIGIANTHUE">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Ngày dọn vào</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_FIELD1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Số người ở</label>
                            <input type="text" class="form-control" asp-for="CUSTOMER_SONGUOIO">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tag khách hàng</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <div id="jstree">
                            </div>
                            <input type="hidden" name="selectedItems" id="selectedItems" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#jstree').on('changed.jstree', function(e, data) {
                    var i, j;
                    var selectedItems = [];
                    for (i = 0, j = data.selected.length; i < j; i++) {

                        //Fetch the Id.
                        var id = data.selected[i];

                        //Remove the ParentId.
                        if (id.indexOf('-') != -1) {
                            id = id.split("-")[1];
                        }

                        //Add the Node to the JSON Array.
                        selectedItems.push({
                            text: data.instance.get_node(data.selected[i]).text,
                            id: id,
                            parent: data.node.parents[0]
                        });
                    }

                    //Serialize the JSON Array and save in HiddenField.
                    $('#selectedItems').val(JSON.stringify(selectedItems));
                }).jstree({
                    "core": {
                        "themes": {
                            "variant": "large"
                        },
                        "data": @Html.Raw(ViewBag.Json)
                                },
                    "checkbox": {
                        "keep_selected_style": true
                    },
                    "plugins": ["wholerow", "checkbox"],
                });
            });
        </script>
    </section>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}

<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                Danh sách sản phẩm
            </h3>
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /. tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="grid"></div>
            <script>
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: "/Admin/AdminCustomer/OrderList/@Model.CUSTOMER_ID"
                            },
                            pageSize: @(defaultGridPageSize)
                                        },
                        groupable: true,
                        sortable: true,
                        selectable: true,
                        navigatable: true,
                        filterable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "ordeR_CODE",
                            title: "Mã đơn",
                            filterable: {
                                multi: true,
                                search: true
                            }
                        }, {
                            field: "ordeR_PUBLISHDATE",
                            title: "Thời gian đặt hàng",
                            type: "date",
                            format: "{0:dd-MM-yyyy}",
                            filterable: {
                                multi: true,
                                search: true
                            }
                        }, {
                            field: "ordeR_TOTAL_ALL",
                            title: "Tổng tiền",
                            format: "{0:n}",
                            filterable: {
                                multi: true,
                                search: true
                            }
                        }, {
                            field: "ordeR_STATUS",
                            title: "Tình trạng",
                            template: "#if(ordeR_STATUS == '0') {#<div class='btn btn- block btn-danger btn-xs'>Chưa xử lý</div>#} else{#<div class='btn btn-block btn-success btn-xs'>Đã xử lý</div>#}#",
                            filterable: {
                                multi: true,
                                search: true
                            }
                        }, {
                            field: "ordeR_ID",
                            title: "Xem thông tin",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<a href="/Admin/AdminOrder/Edit/#=ordeR_ID#" class="btn btn-social btn-bitbucket btn-xs"><i class="fa fa-pencil" ></i> Xem chi tiết</a>',
                            width: 150
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>